<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Subscription Plan</h1>

    <h3>Subscription plan for todo Application</h3>
    <p>Price: $10.00</p>
    <p>Quantity: 1</p>
    <br>
    <form action="/checkout" method="post">
        <input type="submit" value="Proceed to Checkout">
    </form>
</body>
</html>